@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Afacad Flux", sans-serif;
  scrollbar-width: none;
}

:root {
  --lightPrimaryColor: #25283b;
  --lightSecondaryColor: #c8c8ca;
  --lightBackgroundColor: #d2d2d2;

  --darkPrimaryColor: #e7e047;
  --darkSecondaryColor: #362f1e;
  --darkBackgroundColor: #111111;
}

.main {
  background-color: #d2d2d2;
  background-image: repeating-linear-gradient(
      to right,
      transparent 0 60px,
      var(--lightSecondaryColor) 60px 61px
    ),
    repeating-linear-gradient(
      to bottom,
      transparent 0 60px,
      var(--lightSecondaryColor) 60px 61px
    );
  mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
  min-height: 200vh;
  transition: 2s;
}


.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 10px 30px;
}

.container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dark-text {
  color: var(--darkPrimaryColor);
  transition: color 2s;
}

.dark-bg {
  background: var(--darkBackgroundColor);
  border-bottom: 2px var(--darkPrimaryColor) solid;
}

.dark-logo {
  font-weight: bold;
  font-size: 2rem;
  border: 3px var(--darkPrimaryColor) solid;
  cursor: pointer;
  transition: 1.8s;
}

.dark-logo__left-part {
  background-color: transparent;
  color: var(--darkPrimaryColor);
  padding-left: 15px;
  transition: 2s;
}

.dark-logo:hover .dark-logo__left-part {
  background-color: var(--darkPrimaryColor);
  color: var(--darkBackgroundColor);
}

.dark-logo__mid-part {
  background-color: var(--darkPrimaryColor);
  color: var(--darkBackgroundColor);
  margin-left: -7px;
  padding-left: 5px;
  transition: 1.8s;
}

.dark-logo:hover .dark-logo__mid-part {
  background-color: transparent;
  color: var(--darkPrimaryColor);
}

.dark-logo__right-part {
  background-color: var(--darkPrimaryColor);
  color: var(--darkBackgroundColor);
  padding-right: 15px;
  margin-left: -7px;
  transition: 1.8s;
}

.dark-logo:hover .dark-logo__right-part {
  background-color: transparent;
  color: var(--darkPrimaryColor);
}

.light-bg {
  background-color: var(--lightPrimaryColor);
  border-bottom: 2px var(--lightBackgroundColor) solid;
}

.header {
  position: sticky;
  top: 0;
  color: var(--lightSecondaryColor);
  transition: 2s;
  z-index: 1;
}

.logo {
  font-weight: bold;
  font-size: 2rem;
  border: 3px var(--lightSecondaryColor) solid;
  cursor: pointer;
  transition: 1.8s;
  transform: translateY(-100%);
}

.logo__left-part {
  background-color: transparent;
  color: var(--lightSecondaryColor);
  padding-left: 15px;
  transition: 2s;
}

.logo:hover .logo__left-part {
  background-color: var(--lightSecondaryColor);
  color: var(--lightPrimaryColor);
}

.logo__mid-part {
  background-color: var(--lightSecondaryColor);
  color: var(--lightPrimaryColor);
  margin-left: -7px;
  padding-left: 3px;
  transition: 1.8s;
}

.logo:hover .logo__mid-part {
  background-color: transparent;
  color: var(--lightSecondaryColor);
}

.logo__right-part {
  background-color: var(--lightSecondaryColor);
  color: var(--lightPrimaryColor);
  padding-right: 15px;
  margin-left: -7px;
  transition: 1.8s;
}

.logo:hover .logo__right-part {
  background-color: transparent;
  color: var(--lightSecondaryColor);
}

.nav {
  width: 50%;
}

.nav__list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  transition: 1.8s;
  transform: translateY(-100%);
}

.nav__item {
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
}

.nav__item:hover {
  color: white;
  transform: translateY(-2px);
}


.dark-mode {
  background-color: var(--darkBackgroundColor);
  background-image: repeating-linear-gradient(
    to right,
    transparent 0 60px,
    var(--darkSecondaryColor) 60px 61px
  ),
  repeating-linear-gradient(
    to bottom,
    transparent 0 60px,
    var(--darkSecondaryColor) 60px 61px
  );
  mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
  );
  transition: 2s;
  min-height: 200vh;
}

