#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #25283b;
    z-index: 1000;
    transition: transform 1s ease-in-out;
  }
  
  #loading-screen.loaded {
    transform: translateY(-100%);
  }

  .desk__project.loaded {
    transform: translate(0%);
  }