.slider .item img {
    height: 60px;
}

.item {
    margin: 0 40px;
    display: flex;
    align-items: center;
}

.slider-text {
    font-size: 35px;
    font-weight: bold;
    margin-left: 5px;
    transition: 2s;
}

.slider-dark {
    color: var(--darkPrimaryColor);
    transition: 2s;
}

.list {
    display: flex; 
    animation: 10s slide infinite linear;
}

.slider {
    position: relative;
    overflow: hidden;
    padding: 30px 0;

    white-space: nowrap;
    display: flex;
    cursor: pointer;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
}



.slider:hover .list {
    animation-play-state: paused;
}

.item:hover {
    color: #fff;
}

@keyframes slide {
    from {
        transform: translateX(0%);
    } to {
        transform: translateX(-100%);
    }
}